<ion-header >
    <ion-toolbar color ="primary">
      
      <ion-buttons slot="start">
        <ion-menu-button style="color: #ffffff;"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      <ion-button  (click)="signOut()">
       Log Out
       </ion-button>
    
      </ion-buttons>
   
      <ion-title   >
        Store  
       
      </ion-title>
  
  
    </ion-toolbar >
  
  
  </ion-header>

<ion-content >

  <ion-list>
    <ion-item-sliding *ngFor="let item of todos">
      <ion-item >
        <ion-label>{{ item.CuponName }}
            <p>{{ item.CreatedAt | date:'short' }}</p>
          </ion-label>
         
      </ion-item>


    </ion-item-sliding>
    
  </ion-list>


</ion-content>
