
<style>
.title{
  font-size: 16px;

}
.messagetext{
  font-size: 12px;

}
.item-note{
  font-size: 12px;

}

</style>
<ion-header >
    <ion-toolbar color ="primary">
      
      <ion-buttons slot="start">
        <ion-menu-button style="color: #ffffff;"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      <ion-button  (click)="signOut()">
       Log Out
       </ion-button>
    
      </ion-buttons>
   
      <ion-title   >
        Notification  
       
      </ion-title>
  
  
    </ion-toolbar >
  
  
  </ion-header>

<ion-content>
  <ion-list *ngFor="let item of notification">
    <ion-item lines='inset' button [routerLink] = "['/viewnoti', item.id]" >
      <ion-icon  [name]="item.icon" slot="start"></ion-icon>
      <ion-label text-wrap>
      <ion-text class="title" color="primary">
        <p class="title" >{{item.title}}</p>
      </ion-text>
      <p class="messagetext">{{item.message}}</p>
     
    </ion-label>
      
      <div  class="item-note " slot="end">
        {{item.date  | date:'short' }}
      </div>

      
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
