
<ion-header >
    <ion-toolbar color ="primary">
      

      <ion-buttons slot="end">
      <ion-button  (click)="goBack()">
       Back
       </ion-button>
    
      </ion-buttons>
   
      <ion-title   >
        View Cuppon  
       
      </ion-title>
  
  
    </ion-toolbar >
  
  
  </ion-header>
<ion-content >
    <ion-col>
        <div text-center>
            <ion-list lines="full">
           <ion-item >
             <p>
            <sub >Cuppon title : </sub>
            <sub >{{todo.CuponName}}</sub>
            </p>
          </ion-item>

          <ion-item >
              <p>
             <sub >Retailer : </sub>
             <sub >{{todo.Retailer}}</sub>
             </p>
           </ion-item>


          <ion-item >
              <p>
             <sub >Amount alocate : </sub>
             <sub >RM {{todo.Amountalocate}}</sub>
             </p>
           </ion-item>

           <ion-item >
              <p>
             <sub >expiry date : </sub>
             <sub >{{todo.Expiredate | date:'short'}}</sub>
             </p>
           </ion-item>

           <ion-item >
              <p>
             <sub >List of Item eligable : </sub>
             

             <ion-list>
              <ion-item *ngFor="let item of todo.ItemList">
                  <ion-label>{{item.title}}</ion-label>
              <ion-item>
                  <ion-textarea rows="3" disabled  [(ngModel)]="item.Description"></ion-textarea>
              </ion-item>
                  
              
              </ion-item>
            </ion-list>

         
             
             </p>
           </ion-item>


           <ion-item >
              <p>
             <sub >Item discount : </sub>
             <sub >{{todo.discount}}%</sub>
            
             </p>
           </ion-item>

           
           <ion-item >
              <p>
             <sub >term and condition : </sub>
             <sub >{{todo.Term}}</sub>
             </p>
           </ion-item>

           <ion-item *ngIf="!usercoupon">
              <p>
             <sub >Cuppon remain : </sub>
             <sub >{{todo.CupponNum}}</sub>
             </p>
           </ion-item>




           
          </ion-list>
          </div>   
          <ion-button expand="full"  disabled *ngIf="!usercoupon && limmitend ">
              You can only purchase the following items ones
            </ion-button>
          <ion-button expand="full" (click)="saveTodo()" *ngIf="!usercoupon && !limmitend ">
            Purchase Coupon Now
          </ion-button>
          <ion-button expand="full" lines='inset' button [routerLink] = "['/qr-pay', todoId]" *ngIf="usercoupon" >
            Use Coupon 
          </ion-button>
    </ion-col>


</ion-content>
