<ion-header>
  <ion-toolbar>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>System Administrator</ion-card-subtitle>
          <ion-card-title>Hi, and Welcome to MyQrWallet Application</ion-card-title>
        </ion-card-header>
    
       <br>
       <br>
       <br>
       <br>
       
     
      <ion-card-content>
          Your account is now been investigate and it may take awhile for your account approval. 
          Please wait and we will notifed you when your account is ready.
          Sorry for the inconvenience, Thank You.
          <br>
          <br>
          <br>
    
          <p>
              <sub > date : </sub>
              <sub >{{date | date:'short'}}</sub>
              </p>
      </ion-card-content>
      
    </ion-card>
    



</ion-content>
