
<style>
.test{
padding-top: 120%;

}
</style>
<ion-content  *ngIf="(user | async) || {} as user">
        <ion-col>
                <div text-center>
                    
<ion-button size='small' class="test" *ngIf="!user.uid" (click)="googleLogin()">Google Login</ion-button>

                </div>      
        </ion-col>


<ion-content *ngIf="user.uid">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <ion-col>
                <div text-center>
                    
                        <ion-label style="color:white;" text-center>Welcome back, {{ user.displayName }}</ion-label>
              </div>      
        </ion-col>
        

    

 
<ion-content>

<ion-content>
  