
<style>
.test{
padding-top: 120%;

}
</style>
<ion-content  *ngIf="(user | async) || {} as user">

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

        <ion-col>
                <div text-center>
                    
<ion-button size='small'  *ngIf="!user.uid" (click)="googleLogin()">Google Login</ion-button>

                </div>      
        </ion-col>



<ion-content>
  